      <!-- Section for Project Description -->
      <div class="flex flex-col items-center p-6">
        <div class="w-full mx-auto   bg-white rounded-xl shadow-lg p-6">
          <div class="flex justify-between items-center mb-6">
            <h2 class="text-2xl font-bold text-gray-800 flex items-center gap-2">
              📝 Project Description
            </h2>
            <button
              class="bg-[#205781] hover:bg-[#1b4c6e] text-white px-5 py-2 rounded-lg transition duration-300 cursor-pointer"
              (click)="openEditProjectModal()"
            >
              ✏️ Update
            </button>
          </div>
    
  
          <div class="flex flex-col lg:flex-row items-center gap-20 " *ngIf="project">
            <!-- Project Image -->
            <div class="w-full lg:w-1/3">
              <img [src]="project?.projectImage" alt="Project Image" class="w-full h-auto rounded-lg border border-gray-300 shadow-md object-cover">
            </div>
            <!-- Project Details -->
            <!-- Details -->
      <div class="w-full lg:w-1/2 space-y-8">
        <p class="text-gray-800 text-lg">
          <strong class="text-gray-700">📌 Title :</strong> {{ project?.title }}
        </p>
        <p class="text-gray-800 text-lg">
          <strong class="text-gray-700">🧾 Description :</strong> {{ project?.description }}
        </p>
        <p class="text-gray-800 text-lg">
          <strong class="text-gray-700">💻 Technologies :  </strong>
          <ng-container *ngFor="let tech of project?.technologies">
            <span class="inline-block bg-blue-100 text-blue-800 px-2 py-1 mr-2 mb-1 rounded-md text-sm font-medium">
              {{ tech }}
            </span>
          </ng-container>
        </p>
        
          </div>
        </div>

      </div>

          <!-- Microservices and Architecture Section -->
    <div class="mt-10 w-full bg-white rounded-xl shadow-lg p-6" *ngIf="project">
      <h2 class="text-2xl font-bold text-gray-800 mb-4">🧩 Microservices & Architecture</h2>

      <!-- Microservices List -->
      <ul class="list-disc list-inside text-gray-700 space-y-2" *ngIf="project?.microservices?.length">
          <li 
            *ngFor="let service of project?.microservices"
            class="cursor-pointer text-gray-800 hover:text-gray-600"
            (click)="goToMicroservice(service.id)"
          >

         📁 {{ service.title }}
         </li>
      </ul>


  <!-- Architecture -->
  <div class="mt-6" *ngIf="project?.architecture">
    <h3 class="text-lg font-semibold text-gray-800 mb-2">🛠️ Architecture :</h3>
    <p class="text-gray-700 text-base">
      {{ project.architecture }}
    </p>
  </div>
</div>

</div>
