<div class="p-6 w-full max-w-2xl">
  <h2 class="text-2xl font-semibold mb-4 flex items-center gap-2">
    <mat-icon>Add</mat-icon>
    Add Project
  </h2>

  <form *ngIf="projectForm" [formGroup]="projectForm" class="space-y-4">

    <!-- Title -->
    <div>
      <label class="text-sm font-medium text-gray-700 flex items-center">
        <mat-icon class="mr-2">title</mat-icon> Title
      </label>
      <input type="text" formControlName="title" class="w-full p-3 border rounded-md" />
    </div>

    <!-- Description -->
    <div>
      <label class="text-sm font-medium text-gray-700 flex items-center">
        <mat-icon class="mr-2">description</mat-icon> Description
      </label>
      <textarea formControlName="description" class="w-full p-3 border rounded-md"></textarea>
    </div>

    <!-- Technologies -->
    <div>
      <label class="text-sm font-medium text-gray-700 flex items-center">
        <mat-icon class="mr-2">memory</mat-icon> Technologies
      </label>
      <app-chips
        [label]="'Technologies'"
        [placeholder]="'Add tech...'"
        [allItems]="data.allTechnologies"
        [selectedItems]="projectForm.get('technologies')?.value"
        (selectedItemsChange)="projectForm.get('technologies')?.setValue($event)">
      </app-chips>
    </div>

    <!-- Assigned Users -->
    <div>
      <label class="text-sm font-medium text-gray-700 flex items-center">
        <mat-icon class="mr-2">group</mat-icon> Assigned Users
      </label>
      <app-chips
        [label]="'Users'"
        [placeholder]="'Add a user...'"
        [allItems]="data.allUsers"
        [selectedItems]="projectForm.get('users')?.value"
        (selectedItemsChange)="projectForm.get('users')?.setValue($event)"
        [displayWith]="displayWith">
      </app-chips>
    </div>

    <!-- Image Upload -->
    <div>
      <label class="text-sm font-medium text-gray-700 flex items-center">
        <mat-icon class="mr-2">image</mat-icon> Upload Image
      </label>
      <input type="file" (change)="onFileSelected($event)" class="w-full p-3 border rounded-md" />
    </div>

     <!-- Submit -->
    <div class="flex justify-end gap-3 pt-4">
      <button mat-button (click)="close()" class="bg-[#B82132] text-white px-4 py-2 rounded-lg hover:bg-[#D2665A]">Cancel</button>
      <button mat-raised-button (click)="submit()" class="bg-[#205781] text-white px-4 py-2 rounded-lg hover:bg-[#799eba]" >Add Project</button>
    </div>

    <!-- Spinner -->
<div *ngIf="isLoading" class="flex justify-center">
  <mat-spinner diameter="30" color="primary"></mat-spinner>
</div>

  </form>
</div>



