<body class="bg-gray-100  min-h-screen">
    <div class="flex overflow-hidden  pt-16">
      <div id="main-content" class="h-full w-full  relative overflow-y-auto lg:ml-64">
        <div class="flex">
          <app-table 
            class="w-full mx-auto p-4"
            [title]="'La Liste des Exceptions'"
            [columns]="columns"
            [data]="rows"
            [actionButtonText1]="'Modifier'"
            [actionButtonText2]="'Modifier'">
          </app-table>
        </div>
        <div class="flex">
            <app-kinban 
              [title]="'La classification des Exceptions'"
              [column1Title]="column1Title"
              [column2Title]="column2Title"
              [column3Title]="column3Title"
              [column1Data]="column1Data"
              [column2Data]="column2Data"
              [column3Data]="column3Data"
              class="w-full mx-auto p-4">
            </app-kinban>
          </div>
         
          
      </div>
    </div>
  </body>
  