<body class="bg-gray-100 min-h-screen">
  <div class="flex overflow-hidden pt-16">
    <div id="main-content" class="h-full w-full relative overflow-y-auto lg:ml-64"> 
      <mat-tab-group>
        <mat-tab label="Description">
          <app-description></app-description>
        </mat-tab>
      
        <mat-tab label="Team">
          <app-team ></app-team>
        </mat-tab>
      
        <mat-tab label="Tickets">
          <app-tickets-project></app-tickets-project>
        </mat-tab>
      </mat-tab-group>
  
    </div>
  </div>
</body>
