<div class="p-6 w-full max-w-2xl">
  <h2 class="text-2xl font-semibold mb-4 flex items-center gap-2 text-gray-700">
    ➕ Add a New Solution
  </h2>

  <!-- Alert component -->
  <app-alert 
    *ngIf="alertVisible" 
    [type]="alertType" 
    [message]="alertMessage" 
    [isVisible]="alertVisible">
  </app-alert>

  <!-- Spinner while loading -->
  <div *ngIf="isLoading" class="flex justify-center pt-2">
    <mat-spinner diameter="30" color="primary"></mat-spinner>
  </div>

  <!-- Form -->
  <form 
    *ngIf="!isLoading" 
    [formGroup]="solutionForm" 
    (ngSubmit)="onSubmit()" 
    class="space-y-4">

    <!-- Description -->
    <div>
      <label class="text-sm font-medium text-gray-700 flex items-center gap-2">
        📒 Description
      </label>
      <textarea formControlName="description" class="w-full p-3 border rounded-md resize-y"></textarea>
    </div>

    <!-- Reference -->
    <div>
      <label class="text-sm font-medium text-gray-700 flex items-center gap-2">
        🔗 Reference
      </label>
      <input type="text" formControlName="reference" class="w-full p-3 border rounded-md" />
    </div>

    <!-- Code -->
    <div>
      <label class="text-sm font-medium text-gray-700 flex items-center gap-2">
        💻 Code
      </label>
      <textarea formControlName="code" class="w-full p-3 border rounded-md font-mono text-sm bg-gray-50 resize-y"></textarea>
    </div>

    <!-- Buttons -->
    <div class="flex justify-end gap-3 pt-4">
      <button 
        type="button" 
        (click)="onCancel()" 
        class="flex items-center gap-2 bg-[#B82132] text-white hover:bg-[#D2665A] px-6 py-2 rounded-md transition-all cursor-pointer">
        ❌ Cancel
      </button>
      <button 
        type="submit" 
        [disabled]="solutionForm.invalid"  
        class="bg-[#205781] text-white px-4 py-2 rounded-lg hover:bg-[#799eba] cursor-pointer">
        ➕ Save
      </button>
    </div>
  </form>
</div>
