<div class="mat-elevation-z3 rounded-lg overflow-hidden">
  <table mat-table [dataSource]="data" >

    <ng-container *ngFor="let column of columns" [matColumnDef]="column.field">
      <th mat-header-cell *matHeaderCellDef>{{ column.header }}</th>

      
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="column.field === 'action'; else notAction">
          
          <ng-container *ngIf="element.action === 'view'; else lockAction">
            <!-- Icon for view  -->
            <button class="cursor-pointer" (click)="triggerAction(element, 'view')">
              <i class="fa fa-eye text-[#799eba]  text-xl hover:scale-110 transition-transform duration-200"></i>
            </button>
          </ng-container>
      
          <ng-template #lockAction>
            <button class="cursor-pointer mr-5" (click)="triggerAction(element, 'update')">
            <i class="fa fa-edit text-yellow-500 text-xl hover:scale-110 transition-transform duration-200"></i>
          </button>
            <!-- Icon for approve/block  -->
            <button class="cursor-pointer" (click)="triggerrAction(element.id, element.enabled ? 'block' : 'approve')">
              <i class="fa text-xl hover:scale-110 transition-transform duration-200"
                 [ngClass]="element.enabled ? 'fa-lock-open text-green-500' : 'fa-lock text-red-500'"></i>
            </button>
          </ng-template>
      
        </ng-container>
      
        <ng-template #notAction>
          <ng-container *ngIf="column.field === 'profileImage'; else defaultCell">
            <img
              [src]="element[column.field] || 'assets/images/default-user.jpg'"
              alt="User image"
              class="w-10 h-10 rounded-full object-cover"
            />
          </ng-container>
      
          <ng-template #defaultCell>
            {{ element[column.field] }}
          </ng-template>
        </ng-template>
      </td>
      

      
      
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator
  [length]="totalRows"
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
  (page)="onPageChange($event)">
</mat-paginator>
</div>
