
<div class="fixed inset-0 bg-black/40  z-40 flex justify-center items-center transition-opacity duration-300">
    <div class="relative p-4 w-full max-w-lg max-h-full">
      <div class="relative bg-white rounded-lg shadow-lg transform transition-all duration-300 scale-95 hover:scale-100">
         <div class="flex items-center justify-between p-4 border-b rounded-t">
          <h3 class="text-lg font-semibold text-gray-900">
            <ng-content select="[modal-title]"></ng-content>
          </h3>
          <button type="button" (click)="closeModal()" class="text-gray-400 bg-transparent hover:bg-gray-200 rounded-lg w-8 h-8 inline-flex justify-center items-center">
            <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
       
        <div class="p-6">
          <ng-content select="[modal-body]"></ng-content>
        </div>
      </div>
    </div>
</div>
