<!-- pending-register.component.html -->
<div class="flex items-center justify-center min-h-screen bg-gray-100 p-4">
    <div class="w-full max-w-screen-lg bg-white rounded-lg shadow-lg overflow-hidden flex">
  
      <!-- Image section on the left -->
      <div class="w-1/2 relative">
        <img src="../../assets/images/login.jpg" alt="Image" class="w-full h-full object-cover">
        <div class="absolute top-0 left-0 w-full h-full bg-black opacity-40"></div> 
      </div>
  
      <!-- Text section on the right -->
      <div class="w-1/2 p-8 flex flex-col justify-center">
        <div class="absolute top-4 left-4">
          <img src="../../assets/images/logo.png" alt="Logo" class="h-20">
        </div>
        <h2 class="text-3xl font-bold text-center text-gray-700 mb-10">Pending Approval</h2>
  
        <p class="text-center text-lg text-gray-700">
            Hello, your account is pending admin approval.<br>
            Please check your email for further instructions.<br>
            Thank you for your patience!
        </p>
          
        <div class="mt-6 text-center">
          <a href="/login" class="text-sm text-[#4F959D] hover:underline">
            Back to Login
          </a>
        </div>
      </div>
  
    </div>
  </div>
  