<div class="flex flex-col items-center p-6 bg-gray-100 min-h-screen">
  <div class="w-full mx-auto   bg-white rounded-xl shadow-lg p-6">
    
    <!-- Title -->
    <div class="flex justify-between items-center mb-6">
      
      <h2 class="text-2xl font-bold text-gray-800 flex items-center gap-2">
        ❌ List of Errors
      </h2>
    </div>

    <!-- Table or List -->
    <div class="overflow-x-auto rounded-md border border-gray-200 shadow-sm bg-white">
      <app-table-error-pagination
        [data]="errorList"
        [totalRows]="total"
        (viewError)="onViewError($event)">
      </app-table-error-pagination>
    </div>
  </div>
</div>
