<body class="bg-gray-100 min-h-screen flex justify-center items-center p-10">
  <div class="w-full max-w-xl bg-white rounded-lg shadow-md p-10 min-h-[450px]">
    <!-- Avatar avec bouton "+" -->
    <div class="flex flex-col items-center">
      <div class="relative">
        <img src="./../../../../assets/images/avatar.png" alt="Avatar" class="w-32 h-32 rounded-full border">
        <label class="absolute bottom-0 right-0 bg-blue-500 text-white rounded-full p-2 cursor-pointer">
          <input type="file" class="hidden">
          +
        </label>
      </div>
    </div>

   
    <div class="mt-8 space-y-6">
      <div class="flex justify-between items-center">
        <span class="text-gray-700 font-medium text-lg">Name:</span>
        <span id="name" class="text-gray-800 text-lg">John Doe</span>
        <button class="text-blue-500 hover:underline text-sm">Modifier</button>
      </div>

      <div class="flex justify-between items-center">
        <span class="text-gray-700 font-medium text-lg">Email:</span>
        <span id="email" class="text-gray-800 text-lg">john.doeexample.com</span>
        <button class="text-blue-500 hover:underline text-sm">Modifier</button>
      </div>
    </div>

  
    <button class="w-full mt-8 bg-[#205781] text-white px-4 py-2 rounded-lg hover:bg-[#799eba] focus:outline-none text-lg">
      Update
    </button>
  </div>
</body>
