<body class="bg-gray-100 min-h-screen">
  <div class="flex overflow-hidden">
    <div id="main-content" class="h-full w-full relative overflow-y-auto lg:ml-64 " *ngIf="ticket" > 
<!--       <div class="space-y-2 bg-gray-100 min-h-screen" *ngIf="ticket"> -->
        <!-- 1. Ticket Details -->
        <app-details 
        [status]="ticket.status"
        [priority]="ticket.priority"
        [imageUrl]="ticket.imageUrl || '../../../assets/images/task.png'"
        [category]="ticket.category"
        [description]="ticket.stackTrace"
        [date]="ticket.date"
        [level]="ticket.level" 
        [loggerName]="ticket.loggerName"> 
        </app-details>
       <!--  <app-solution [ticketId]="myTicket.id"></app-solution> -->
        <!-- Ticket Solution -->
        <app-solution class="flex flex-col"  
          *ngIf="connectedUserId !== undefined" 
          [ticketId]="ticket.id" 
          [userId]="connectedUserId">
        </app-solution>

        <app-ticket-carousel [ticketId]="ticket.id"></app-ticket-carousel>



        <!-- <app-comments [comments]="ticket.comments"></app-comments> -->
         <app-comments [ticketId]="ticket.id"></app-comments>
     


  <!--     </div> -->
    </div>
  </div>
</body>
