<form>
    <mat-form-field class="w-full">
      <mat-label>{{ label }}</mat-label>
      <mat-chip-grid #chipGrid [attr.aria-label]="label + ' selection'">
        <mat-chip-row
          *ngFor="let item of selectedItems; trackBy: trackByFn"
          (removed)="remove(item)"
        >
          {{ displayWith(item) }}
          <button matChipRemove [attr.aria-label]="'Remove ' + displayWith(item)">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      </mat-chip-grid>
  
      <input
        #chipInput
        [placeholder]="placeholder"
        [formControl]="inputCtrl"
        [matChipInputFor]="chipGrid"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)"
        [matAutocomplete]="auto"
        class="border-none outline-none"
      />
  
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let item of filteredItems | async" [value]="item">
          {{ displayWith(item) }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>