<aside id="sidebar" class="fixed top-0 left-0 z-20 h-screen hidden lg:flex flex-shrink-0 flex-col w-64 transition-width duration-75 bg-[#205781] border-r border-gray-200">
  <div class="relative flex-1 flex flex-col min-h-0 pt-0">
     <div class="flex-1 flex flex-col pt-5 pb-4 overflow-y-auto">
        <div class="flex-1 px-3 bg-[#205781] divide-y divide-gray-50 space-y-5">

         
          <div class="flex items-center space-x-3 p-4">
            <img *ngIf="userAvatarUrl" [src]="userAvatarUrl" alt="User Avatar" class="w-12 h-12 rounded-full border-2 border-white">
            <span *ngIf="userName" class="text-white font-medium">{{ userName }}</span>
          </div>

          <ul class="space-y-2 pb-2">
            <li *ngFor="let link of links">
              <!-- Lien normal -->
              <a *ngIf="!link.action" [routerLink]="link.href"
                class="text-base text-gray-50 font-normal rounded-lg flex items-center p-2 hover:bg-gray-100 hover:text-gray-900 group">
                <svg class="w-6 h-6 text-gray-50 group-hover:text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 24 24">
                  <path [attr.d]="link.iconPath"></path>
                </svg>
                <span class="ml-3">{{ link.name }}</span>
              </a>
          
              <!-- Lien avec action (ex: Logout) -->
              <a *ngIf="link.action" href="#" (click)="handleClick(link); $event.preventDefault();"
                class="text-base text-gray-50 font-normal rounded-lg flex items-center p-2 hover:bg-gray-100 hover:text-gray-900 group">
                <svg class="w-6 h-6 text-gray-50 group-hover:text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 24 24">
                  <path [attr.d]="link.iconPath"></path>
                </svg>
                <span class="ml-3">{{ link.name }}</span>
              </a>
            </li>
          </ul>
          
        </div>
     </div>
  </div>
</aside>
