<app-navbar-dashboard 
  [imageUrl]="'../../../assets/images/images.png'"
  [userName]="user.email"
  [userAvatarUrl]="user.profileImage !== null ? user.profileImage : 'assets/images/default-user.jpg'">
</app-navbar-dashboard>

<div class="flex overflow-hidden bg-white pt-16">
  <app-sidebar 
  [links]="links"
  [userAvatarUrl]="user.profileImage !== null ? user.profileImage : 'assets/images/default-user.jpg'" 
  [userName]="'Tester'">
  >

  </app-sidebar>

  <div class="content w-full bg-gray-100 ">
    <router-outlet></router-outlet>
  </div>
</div>
